.tnc-text-decoration {
    color: #969696;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    max-height: 160px;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    overflow: auto;
}
